body{
  background-color: rgb(10, 10, 48);
}


p{
  padding: 10px
}

.box {
    padding-right: 10px;
    background-color: white;
  }
  
  /*.margin-top-80 {
    margin-top: 80px;
  }
  

    height: 400px;
    padding: 20px; (was in box) */